<!DOCTYPE html>
<html>
    <head>
      
        <title>Project Model</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/container.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/button.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/segment.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
    </head>
    <body>
        <h1> TEST </h1>
        <div class="ui three column doubling stackable grid container">
          <div class="column">
            <p></p>
            <div class="ui button">
                Upload Model
            </div>
            <p></p>
          </div>
          <div class="column">
            <p></p>
            <div class="ui button">
                Create Model
            </div>
            <p></p>
          </div>
          <div class="column">
            <p></p>
            <div class="ui button">
                Search Database
            </div>
            <p></p>
          </div>
        </div>
    </body>
</html>
