<!DOCTYPE html>
<html>
    <head>
        {% block head %}
       <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/container.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/button.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/segment.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/form.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/input.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/components/label.css">-->
       
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
        <script type="text/javascript">

      /*  $(function() {
 
        $("#search_button").click(function() {
        // getting the value that user typed
        var searchString    = $("#search_box").val();
        // forming the queryString
        var data            = 'search='+ searchString;
         
        // if searchString is not empty
        if(searchString) {
            // ajax call
            $.ajax({
                type: "POST",
                url: "search.php",
                data: data,
                beforeSend: function(html) { // this happens before actual call
                    $("#results").html(''); 
                    $("#searchresults").show();
                    $(".word").html(searchString);
               },
               success: function(html){ // this happens after we get results
                    $("#results").show();
                    $("#results").append(html);
              }
            });    
        }
        return false;
    });
});
    */
    
    $(document).ready(function () {
      $('#search').keyup(function () {
        var searchText = $(this).val().toLowerCase();
        $('#gmdn tbody tr').each(function () {
          if ($(this).text().toLowerCase().indexOf(searchText) >= 0) {
            $(this).show();
          }
          else {
            $(this).hide();
          }
        });
      });
    });
        </script>
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>
    <body>
        <div id="content">
        {% block content %}
         <!--   <div class="ui container">
             
            <div class="ui center aligned segment">
            <h2> Search Database </h2> 
            </div>
                
            <div class="ui form" id="search">

                <form action="" method="post" enctype="multipart/form-data" id="search-form">

                    
                    <div class="field">
                        <label> Search </label>
                        <input type="text" name="searchString">
                    </div>
                    
                   

                    <!--<button class="positive ui button" id="upload-submit" name="uploadFile" type="submit"> Upload File </button> -->
                    <!--<div class=" ui horizontal segments">
                        <div class="ui segment">
                            <input class="positive ui button" type="submit" value="Search Database" name="searchDB"> 
                        </div>
                    </div>
                </form>
            </div>
            </div> -->
                    
                    
                    
                    
                    
                    
                    <div class="container">
                        <div class="row">

                            <h1 class='text-center'>Search Database</h1>
                            
                            <div class="container-fluid">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="index.php">HomePage</a>
                            </div>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="create.php">Create XMI</a></li>
                                <li><a href="upload.php">Legacy Database</a></li>
                                <li><a href="myUpload.php">Search</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>  
                 
                <div class="js-filter">
               
                 <div class="form-group">
                    <label> Search Data:  </label>
                    <input type="text" class="form-control" id="search" name="search">
                 </div>
             </div>  
                            
                        <section id="table">
                    <div class="container-fluid">
                        {# <pre>
                             {{ dump(uploads) }}
                         </pre>#}
                        <table class="table table-bordered table-hover" id="gmdn">
                            <thead>
                                <tr>
                                    <th>Term ID</th>
                                    <th>Term Name</th>
                                    <th>Term Definition</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for uploaded in uploads %}
                                    <tr>
                                        <td>{{ uploaded.termID }}</a></td>
                                        <td>{{uploaded.termName}}</td>
                                        <td>{{uploaded.termDefinition}}</td>

                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </section>
                         <!--   <form method="post" action="search.php">
                            <div class="input-group col-md-12 col-md-10 col-md-offset-1">
                                
                                <label> Search in .. </label> <br>
                            <div class="btn-group" data-toggle="buttons">
                                
                              <label class="btn btn-primary "> 
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> GMDN Database
                              </label>
                              <label class="btn btn-primary">
                                <input type="radio" name="options" id="option2" autocomplete="off"> UMLS Database
                              </label>
                            </div>
                            </div>
                            <br><br>
                            <div id="custom-search-input">
                                <div class="input-group col-md-12 col-md-10 col-md-offset-1">
                                    <input type="text" class="  search-query form-control" placeholder="Search" id="search_box"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" id="search_button">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            </form>
                            <br><br>
                            <div class="input-group col-md-12 col-md-10 col-md-offset-1">
                            <div id="searchresults"> <label> Search results : </label></div>
                            <ul id="results" class="update"></ul>
                            </div>-->
                    </div>
                        </div>
        {% endblock %}
        </div>
       
    </body>
</html>
