<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>jQuery Easy Tree Example</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="css/easyTree.css">
<link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="src/easyTree.js"></script>
<style>
body {
background: #eee;
}
</style>
<script>
            $('#upload-submit').click(function () {
                        $('#upload-form').submit();
                       
            });
        </script>
</head>
<body>
     <!-- ---------------- FILE UPLOAD ----------------------------------- --> 
        <p></p>
        <section id="form">
            <div class="container" style="margin-top: 50px">
                <div class="jumbotron"> 
                    <font color="#16A085">  <h2 class="text-center"> Create XMI from existing XML file </h2></font>
                    <form action="viewTree.php" method="post" enctype="multipart/form-data" id="upload-form">
                        <div class="row">
                            <div class=" form-line">

                  
                                <div class="form-group">
                                    <font color="#E74C3C"> <label> Filename for viewing tree structure </label></font>
                                    <input type="text" class="form-control" name="opfilename">
                                </div>

                            </div>
                        </div>
                        <div class="row">

                            <input class="btn btn-success" type="submit" value="Upload File" name="uploadFile" id="upload-submit"/>

                        </div>
                    </form>
                </div>
            </div>
        </section>          
        <!--- ------------------------- END OF FILE UPLOAD FORM ------------------- -->

    
<div class="col-md-12">
    

    <div class="easy-tree" id="esyTreeOnLoad">

    </div>
    
</div>
<div class="col-md-12" style="margin-top: 5px">
        <button class="btn btn-success" id="draw"> Draw Tree </button>
    </div>     

<script>
$(document).ready(function() {
        /* var markers = null;
         $.get("test5.xml", {}, function (xml){
              $('li',xml).each(function(i){
                 markers = $(this);
              });
            });*/
	//get Ur XML file string which is in ul/li
	//var rawHtml = "<ul><li>Example 1</li><li>Example 2</li><li>Example 3<ul><li>Example 1</li><li>Example 2<ul><li>Example 1</li><li>Example 2</li><li>Example 3</li><li>Example 4</li></ul></li><li>Example 3</li><li>Example 4</li></ul></li><li>Example 0<ul><li>Example 1</li><li>Example 2</li><li>Example 3</li><li>Example 4<ul><li>Example 1</li><li>Example 2</li><li>Example 3</li><li>Example 4</li></ul></li></ul></li></ul>";
        var rawHtml ;
        $.ajax({
            url: 'viewTree.php',
            type: 'GET',
            data: $('viewTree.php').html(),
           
            async: true,
            success: function (data) {
                alert(data);
                rawHtml = data;
               // modal2(filename);
            },
            error: function () {
              //  alert('failed to send ajax request');
            }
        });
         
	$("#draw").click(function () {
	//Placing xml data to the div
        rawHtml = rawHtml.replace(/<id>[\s\S]*?<\/id>/g, '');
        console.log(rawHtml);
	$("#esyTreeOnLoad").html(rawHtml);
	// alert(rawHtml);
         
	//Loading EasyTree On Load..
	$('#esyTreeOnLoad').EasyTree({
		selectable: true,
		deletable: true,
		editable: true,
		addable: true,
		addable_assembly: true,
		addable_component:true,
		i18n: {
			confirmButtonLabel: 'Okay',
			cancelButtonLabel: 'cancel',
			deleteConfirmation: 'Delete this node?',
		}
	});
});
 });
</script>
</body>
</html>
